*{
	font-family: '微软雅黑'
}
ul, ol,dd,dl,body,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
li{
	list-style:none;
}
a{
	color: #999;
	text-decoration: none;
}
img{
	display: block;
	border:none;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.full-container{
	width: 100%;
}
.clearfix{
	clear: both;
}
.border-left-n{
	border-left:none !important;
}
.border-right-n{
	border-right:none !important;
}
.border-top-n{
	border-top:none !important;
}
.border-bottom-n{
	border-bottom:none !important;
}
.font-yellow{
	color: #f1b000;
}